{% extends "base.html" %}

{% load static %}

{% block title %}Otorgante{% endblock title %}

{% block content %}
<div class="card card-success">
    <div class="card-header-gen">
        <h3 class="card-title"> 
            <a style="color:#ffffff"><b>Registro de Otorgantes</b></a>
        </h3>
    </div>
    <div class="card-body">
    <div class="tab-content p-0">
        <form action="" method="post">{% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                <div class="col-md-4">
                        <div class="fieldWrapper">
                            {{ form.phone.errors }}
                            {{ form.phone }}
                            <p class="help">{{ form.phone.help_text|safe }}</p>
                        </div> 
                    </div>
                    <div class="col-md-8">
                        <div class="fieldWrapper">
                            {{ form.address.errors }}
                            {{ form.address }}
                            <p class="help">{{ form.address.help_text|safe }}</p>
                        </div> 
                    </div>
                </div>
            <p><input type="submit" class="btn btn-success btn-block" value="Guardar"></p>
        </form>
    </div>
    </div>
</div>

<script src="{% static 'registration/plugins/jquery/jquery.min.js' %}"></script>
{% endblock content %}
