<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{% static 'registration/plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'registration//dist/css/adminlte.min.css' %}">
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="#" class="h1"><b>AdmIN</b><br></a>
          <a href="#" class="h1">Notaría 3 Mdellín</a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Introduza el email registrado y la contraseña para iniciar la sesión.</p>
          <form action="" method="post">{% csrf_token %}
            <div class="input-group mb-3">
              <input type="email" name="username" class="form-control" requerid
                maxlength="150" id="id_username" placeholder="email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" name="password" class="form-control" requerid placeholder="contraseña">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            {% if form.non_field_errors %}
              <p style="color:red" class="login-box-msg">Usuario o contraseña incorrectos, intente nuevamente.</p>
            {% endif %}
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">iniciar sesión</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
