{% extends "base.html" %}
{% load static %}

{% block title %}AddEtapa{% endblock title %}

{% block content %}
    <style>.errorlist{color:red;}</style>
    <div class="card card-success">     
        <div class="card-header-gen">
            <h3 style="color:#ffffff" class="card-title"> 
                <a><b>Crear Etapa</b></a>
            </h3>
        </div>
        <div class="card-body">
            <div class="tab-content p-0">
                <form action="" method="post">{% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="fieldWrapper">
                                {{ form.tipo_etapa.errors }}
                                {{ form.tipo_etapa }}
                                <p class="help">{{ form.tipo_etapa.help_text|safe }}</p>
                            </div> 
                        </div>
                        <div class="col-md-4">
                            <div class="fieldWrapper">
                                {{ form.nombre_etapa.errors }}
                                {{ form.nombre_etapa }}
                                <p class="help">{{ form.nombre_etapa.help_text|safe }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fieldWrapper">
                                {{ form.activo.errors }}
                                {{ form.activo}}
                                <p class="help">{{ form.activo.help_text|safe }}</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="btn-group">
                        <p><input type="submit" class="btn btn-success btn-sm" value="Guardar"></p>
                        <p><a href="{% url 'stage:etapa-list' %}" class="btn btn-secondary btn-sm" >Cancelar</a></p>
                    </div>    
                </form>
            </div>
        </div>
    </div>

    <!-- para todas -->
    <script src="{% static 'registration/plugins/jquery/jquery.min.js' %}"></script>

    {% block scripts_local %}
        <script> 
            $(function () {
                $('.select2').select2()
            })
        </script>
    {% endblock scripts_local %}  
{% endblock content %}
