{% extends "base.html" %}
{% load static %}

{% block title %}UpdateEtapa{% endblock title %}

{% block content %}
    <style>.errorlist{color:red;}</style>
    <div class="card card-success">     
        <div class="card-header-gen">
            <h3 style="color:#ffffff" class="card-title"> 
                <a><b>Actualizar Etapa</b></a>
            </h3>
        </div>
        <div class="card-body">
            <div class="tab-content p-0">
                <form action="" method="post">{% csrf_token %}
                    <div class="row"> {{ form.reparto }} {{ form.etapa }} </div>
                    <div class="row"> {{ form.reparto }} {{ form.etapa }} 
                        <h5>Etapa: &nbsp <h5>
                        <b>{{object.etapa}}</b>
                    </div>
                    <div class="row"> {{ form.reparto }} {{ form.etapa }} 
                        <h5>Hoja Ruta: &nbsp <h5>
                        <b>{{object.reparto}}</b>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="fieldWrapper">
                                {{ form.fecha_inicio.errors }}
                                {{ form.fecha_inicio }}
                                <p class="help">{{ form.fecha_inicio.help_text|safe }}</p>
                            </div> 
                        </div>
                        <div class="col-md-4">
                            <div class="fieldWrapper">
                                {{ form.fecha_final.errors }}
                                {{ form.fecha_final }}
                                <p class="help">{{ form.fecha_final.help_text|safe }}</p>
                            </div> 
                        </div>
                        <div class="col-md-4">
                            <div class="fieldWrapper">
                                {{ form.finalizado.errors }}
                                {{ form.finalizado }}
                                <p class="help">{{ form.finalizado.help_text|safe }}</p>
                            </div> 
                        </div>
                    </div>
                    <hr>
                    <div class="btn-group">
                    <p><input type="submit" class="btn btn-success btn-block" value="Actualizar"></p>
                    <p><a href="{% url 'stage:repartoetapa-detail' object.id %}" class="btn btn-secondary " >Observaciones</a></p>
                    <p><a href="{% url 'deed:reparto-detail' object.reparto.id %}" class="btn btn-secondary " >Regresar</a></p>
                    </div>
                </form>
                <hr>
                <div class="row">
                    <table class="display" style="width:100%">
                        <thead>
                        <tr>
                            <th>Observaciones</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for obs in observaciones %}
                            <tr>
                                <td>{{obs.fecha_hora | date:"d/m/Y h:i A" }} || {{obs.observacion}}</td>
                            <tr>
                            {% endfor %}
                        <tbody>
                    </table>
                    </div>
            </div>
        </div>
    </div>

    <!-- para todas -->
    <script src="{% static 'registration/plugins/jquery/jquery.min.js' %}"></script>
    {% block scripts_local %}
         <!-- calendario -->
        <script> 
            var fechainicio = document.getElementById("id_fecha_inicio");
            fechainicio.addEventListener("click", function(){
                $("#id_fecha_inicio").datetimepicker({  
                format: 'd/m/Y',  
                timepicker:false  
                }); 
            })
            var fechafinal = document.getElementById("id_fecha_final");
            fechafinal.addEventListener("click", function(){
                $("#id_fecha_final").datetimepicker({  
                format: 'd/m/Y',  
                timepicker:false  
                }); 
            })
        </script>
    {% endblock scripts_local %}  
{% endblock content %}
