{% extends "base.html" %}
{% load static %}

{% block title %}UpdateEtapa{% endblock title %}

{% block content %}
    <style>.errorlist{color:red;}</style>
    <div class="card card-success">     
        <div class="card-header-gen">
            <h3 style="color:#ffffff" class="card-title"> 
                <a><b>Actualizar Etapa</b></a>
            </h3>
        </div>
        <div class="card-body">
            <div class="tab-content p-0">
                <form action="" method="post">{% csrf_token %}
                    <div class="row"> {{ form.reparto }} {{ form.etapa }} </div>
                    <div class="row"> {{ form.reparto }} {{ form.etapa }} 
                        <h5>Etapa: &nbsp <h5>
                        <b>{{object.etapa}}</b>
                    </div>
                    <div class="row"> {{ form.reparto }} {{ form.etapa }} 
                        <h5>Hoja Ruta: &nbsp <h5>
                        <b>{{object.reparto}}</b>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="fieldWrapper">
                                {{ form.tipo_repartoetapa.errors }}
                                {{ form.tipo_repartoetapa }}
                                <p class="help">{{ form.tipo_repartoetapa.help_text|safe }}</p>
                            </div> 
                        </div>
                        <div class="col-md-3">
                            <div class="fieldWrapper">
                                {{ form.fecha_inicio.errors }}
                                {{ form.fecha_inicio }}
                                <p class="help">{{ form.fecha_inicio.help_text|safe }}</p>
                            </div> 
                        </div>
                        <div class="col-md-3">
                            <div class="fieldWrapper">
                                {{ form.fecha_final.errors }}
                                {{ form.fecha_final }}
                                <p class="help">{{ form.fecha_final.help_text|safe }}</p>
                            </div> 
                        </div>
                        <div class="col-md-3">
                            <div class="fieldWrapper">
                                {{ form.finalizado.errors }}
                                {{ form.finalizado }}
                                <p class="help">{{ form.finalizado.help_text|safe }}</p>
                            </div> 
                        </div>
                    </div>
                    <hr>
                    <div class="btn-group">
                        <p><input type="submit" class="btn btn-success btn-sm" value="Actualizar"></p>
                        <p><a href="{% url 'stage:repartoetapa-observaciones' object.id %}" class="btn btn-warning btn-sm" >Observaciones</a></p>
                        <p><a href="{% url 'stage:repartoetapa-observaciones3' object.id %}" class="btn btn-warning btn-sm" >Observaciones3</a></p>
                        {% if form.tipo_repartoetapa.value == 'R' %}
                            <p><a href="{% url 'stage:repartoetapa-revision' object.id %}" class="btn btn-warning btn-sm" >revisión</a></p>
                        {% elif form.tipo_repartoetapa.value == 'I' %}
                            <p><a href="{% url 'stage:repartoetapa-impuesto' object.id %}" class="btn btn-warning btn-sm" >impuesto</a></p>
                        {% endif %}
                            <p><a href="{% url 'deed:reparto-detail' object.reparto.id %}" class="btn btn-secondary btn-sm" >Regresar</a></p>
                    </div>
                    <hr>
                </form>
                <div class="row">
                    <table class="display" style="width:100%">
                        <thead>
                        <tr>
                            <th>Observaciones</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for obs in observaciones %}
                            <tr>
                                <td>{{obs.fecha_hora | date:"d/m/Y h:i A" }} || {{obs.observacion}}</td>
                            <tr>
                            {% endfor %}
                        <tbody>
                    </table>
                </div>
                <hr>
                <!-- REVISION-->
                <div class="row">
                    {% if form.tipo_repartoetapa.value == 'R' %}
                    <table class="display" style="width:100%">
                        <thead>
                        <tr>
                            <th>Notas de revisión</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for rev in revision %}
                            <tr>
                                <td>{{rev.fecha_revision | date:"d/m/Y" }} ||
                                {{rev.descripcion}}</td>
                            <tr>
                            {% endfor %}
                        <tbody>
                    </table>
                    {% endif %}
                </div>
                <hr>
                <!-- IMPUESTO-->
                <div class="row">
                    {% if form.tipo_repartoetapa.value == 'I' %}
                    <table class="display" style="width:50%">
                        <thead>
                        <tr>
                            <th>Boleta de rentas</th>
                            <th>Boleta de Registro</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for imp in impuesto %}
                            <tr>
                                <td>
                                    {{imp.boleta_rentas}} || {{imp.fecha_boleta_rentas | date:"d/m/Y" }} ||
                                    {% if imp.file_boleta_rentas %} <a href="{{imp.file_boleta_rentas.url}}" ><b> ver </b></a>{% endif %}
                                </td>
                                <td>
                                    {{imp.boleta_registro}} || {{imp.fecha_boleta_registro | date:"d/m/Y" }} ||
                                    {% if imp.file_boleta_registro %} <a href="{{imp.file_boleta_registro.url}}" ><b> ver </b></a>{% endif %}
                                </td>
                            <tr>
                            {% endfor %}
                        <tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- para todas -->
    <script src="{% static 'registration/plugins/jquery/jquery.min.js' %}"></script>
    {% block scripts_local %}
         <!-- calendario -->
        <script> 
            var fechainicio = document.getElementById("id_fecha_inicio");
            fechainicio.addEventListener("click", function(){
                $("#id_fecha_inicio").datetimepicker({  
                format: 'd/m/Y',  
                timepicker:false  
                }); 
            })
            var fechafinal = document.getElementById("id_fecha_final");
            fechafinal.addEventListener("click", function(){
                $("#id_fecha_final").datetimepicker({  
                format: 'd/m/Y',  
                timepicker:false  
                }); 
            })
        </script>
    {% endblock scripts_local %}  
{% endblock content %}
