{% extends "base.html" %}
{% load static %}

{% block title %}ActoJuridico{% endblock title %}

{% block content %}
    <style>.errorlist{color:red;}</style>
    <div class="card card-success">     
        <div class="card-header-gen">
            <h3 style="color:#ffffff" class="card-title"> 
                <a><b>Crear Acto Jurídico</b></a>
            </h3>
        </div>
        <div class="card-body">
            <div class="tab-content p-0">
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <p><input type="submit" class="btn btn-success btn-block" value="Guardar"></p>
                </form>
            </div>
        </div>
    </div>

    <!-- para todas -->
    <script src="{% static 'registration/plugins/jquery/jquery.min.js' %}"></script>

    {% block scripts_local %}  
    {% endblock scripts_local %}  
{% endblock content %}
