{% extends "base.html" %}
{% load static %}

{% block title %}Inicio{% endblock title %}

{% block content %}
    <style>.errorlist{color:red;}</style>
    <div class="card card-success">     
        <div class="card-header">
            <h3 class="card-title"> 
                <a><b>Actualizar Reparto</b></a>
            </h3>
        </div>
        <div class="card-body">
            <div class="tab-content p-0">
                <form action="" method="post">{% csrf_token %}
                    {{form.as_p}}
                    <p><input type="submit" class="btn btn-success btn-block" value="Actualizar"></p>
                </label>
                </form>
            </div>
        </div>
    </div>

    <!-- para todas -->
    <script src="{% static 'registration/plugins/jquery/jquery.min.js' %}"></script>

    {% block scripts_local %}  
        <!-- calendario -->
        <script> 
            var fechaescritura = document.getElementById("id_fecha_escritura");
            fechaescritura.addEventListener("click", function(){
                $("#id_fecha_escritura").datetimepicker({  
                format: 'd/m/Y',  
                timepicker:false  
                });  
            })
            var fechareparto = document.getElementById("id_fecha_reparto");
            fechareparto.addEventListener("click", function(){
                $("#id_fecha_reparto").datetimepicker({  
                format: 'd/m/Y',  
                timepicker:false  
                }); 
            })
        </script>
        <!-- select2 -->
        <script> 
            $(function () {
                $('.select2').select2()
            })
        </script>
    {% endblock scripts_local %}  
{% endblock content %}
