{% extends "base.html" %}
{% load static %}

{% block title %}Inicio{% endblock title %}

{% block content %}
    <style>.errorlist{color:red;}</style>
    <div class="card card-success">     
        <div class="card-header">
            <h3 class="card-title"> 
                <a><b>Actualizar Reparto</b></a>
            </h3>
        </div>
        <div class="btn-group">
            <a href="#" class="btn btn-warning btn-sm" ><b>actualizar</b></a>
            <a href="#" class="btn btn-warning btn-sm" ><b>actualizar</b></a>
            <a href="{% url 'deed:reparto-list' %}" class="btn btn-info btn-sm" ><b>regresar</b></a>
        </div>
        <div class="card-body">
            <div class="tab-content p-0">
                <form action="" method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.non_field_errors }}
                            <div class="fieldWrapper">
                                {{ form.proyecto.errors }}
                                {{ form.proyecto }}
                                <p class="help">{{ form.proyecto.help_text|safe }}</p>
                            </div>
                            <div class="fieldWrapper">
                                {{ form.fecha_reparto.errors }}
                                {{ form.fecha_reparto }}
                                <p class="help">{{ form.fecha_reparto.help_text|safe }}</p>
                            </div>
                        </div>        
                        <div class="col-md-6">
                            <div class="fieldWrapper">
                                {{ form.acto_juridico.errors }}
                                {{ form.acto_juridico}}
                                <p class="help">{{ form.acto_juridico.help_text|safe }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="fieldWrapper">
                                {{ form.escritura.errors }}
                                {{ form.escritura }}
                                <p class="help">{{ form.escritura.help_text|safe }}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fieldWrapper">
                                {{ form.fecha_escritura.errors }}
                                {{ form.fecha_escritura }}
                                <p class="help">{{ form.fecha_escritura.help_text|safe }}</p>
                            </div>
                        </div>        
                        <div class="col-md-3">
                            <div class="fieldWrapper">
                                {{ form.activo.errors }}
                                {{ form.activo}}
                                <p class="help">{{ form.activo.help_text|safe }}</p>
                            </div>
                        </div>
                    </div>
                    <p><input type="submit" class="btn btn-success btn-block" value="Actualizar"></p>
                </label>
                </form>
            </div>
        </div>
    </div>

    <!-- para todas -->
    <script src="{% static 'registration/plugins/jquery/jquery.min.js' %}"></script>

    {% block scripts_local %}  
        <!-- calendario -->
        <script> 
            var fechaescritura = document.getElementById("id_fecha_escritura");
            fechaescritura.addEventListener("click", function(){
                $("#id_fecha_escritura").datetimepicker({  
                format: 'd/m/Y',  
                timepicker:false  
                });  
            })
            var fechareparto = document.getElementById("id_fecha_reparto");
            fechareparto.addEventListener("click", function(){
                $("#id_fecha_reparto").datetimepicker({  
                format: 'd/m/Y',  
                timepicker:false  
                }); 
            })
        </script>
        <!-- select2 -->
        <script> 
            $(function () {
                $('.select2').select2()
            })
        </script>
    {% endblock scripts_local %}  
{% endblock content %}
