{% extends "base.html" %}
{% load static %}

{% block title %}rep-det{% endblock title %}

{% block content %}
    <style>.errorlist{color:red;}</style>
    <div class="col-12 col-sm-12">
        <div class="card card-success card-tabs">
            <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                    <li class="pt-2 px-3" style="color:#ffffff"><h3 class="card-title"><b>HR: {{ reparto.hoja_ruta }}</b></h3></li>
                    <li class="nav-item">
                        <a class="nav-link active" id="reparto-detail-tab" data-toggle="pill" href="#reparto-detail" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">Hoja Ruta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="etapas-detail-tab" data-toggle="pill" href="#etapas-detail" role="tab" aria-controls="custom-tabs-two-profile" aria-selected="false">Etapas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-messages-tab" data-toggle="pill" href="#custom-tabs-two-messages" role="tab" aria-controls="custom-tabs-two-messages" aria-selected="false">Otorgantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="reparto-inmueble-tab" data-toggle="pill" href="#reparto-inmueble" role="tab" aria-controls="custom-tabs-two-settings" aria-selected="false">Inmuebles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-success dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b>Opciones</b></a>
                        <div class="dropdown-menu mt-0">
                            <a style="color:#000000" class="dropdown-item" href="{% url 'deed:reparto-update' reparto.id %}" >actualizar</a>
                            <a style="color:#000000" class="dropdown-item" href="{% url 'deed:reparto-inmueble-edit' reparto.id %}" >inmuebles</a>
                            <a style="color:#e0004d" class="dropdown-item" href="{% url 'deed:reparto-list' %}" >regresar</a>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="card-body">
            <div class="tab-content" id="custom-tabs-two-tabContent">
                <div class="tab-pane fade show active" id="reparto-detail" role="tabpanel" aria-labelledby="reparto-detail-tab">
                    <form action="" method="post">{% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <h5>Fecha Reparto: &nbsp <h5>
                                    <b>{{ reparto.fecha_reparto | date:'d/m/Y'}}</b>
                                </div>
                                <div class="row">
                                    <h5>Escritura: &nbsp <h5>
                                    {%if reparto.anio_escritura%}
                                        <b>{{ reparto.anio_escritura }}</b>
                                    {%else%}
                                        ---
                                    {% endif %}
                                </div>
                                <div class="row">    
                                    <h5>Fecha Escritura: &nbsp <h5>
                                    {% if reparto.fecha_escritura %}
                                        <b>{{ reparto.fecha_escritura | date:'d/m/Y'}}</b>
                                    {% else %}
                                        ---
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <h5>Proyecto: &nbsp <h5>
                                    <b>{{ reparto.proyecto }}</b>
                                </div>
                                <div class="row">
                                    <h5>Acto Jurídico: &nbsp <h5>
                                    {% for acto in reparto.acto_juridico.all %}
                                        <b>{{ acto }} {% if not forloop.last %} - {% endif %}</b>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="etapas-detail" role="tabpanel" aria-labelledby="etapas-detail-tab">
                    <form action="" method="post">{% csrf_token %}
                        <div class="row">
                            <table class="table table-sm" >
                                <thead>
                                <tr>
                                    <th>Etapa</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Final</th>
                                    <th>Acción</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for eta in etapas.all %}
                                    <tr>
                                        <td>{{eta.etapa.nombre_etapa}}</td>
                                        <td>
                                        {% if eta.fecha_inicio %}
                                            {{ eta.fecha_inicio | date:'d/m/Y'}}
                                        {% else %}
                                        ---
                                        {% endif %}
                                        </td>
                                        <td>
                                            {% if eta.fecha_final %}
                                                {{ eta.fecha_final | date:'d/m/Y'}}
                                            {% else %}
                                            ---
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{% url 'stage:repartoetapa-update' eta.id %}" class="btn btn-warning btn-sm" >actualizar</a>
                                            </div>
                                        </td>
                                    <tr>
                                    {% endfor %}
                                <tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="custom-tabs-two-messages" role="tabpanel" aria-labelledby="custom-tabs-two-messages-tab">
                    Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum orci odio. Cras nec augue ipsum. Suspendisse ut velit condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac ornare magna.
                </div>
                <div class="tab-pane fade" id="reparto-inmueble" role="tabpanel" aria-labelledby="reparto-inmueble-tab">
                    <form action="" method="post">{% csrf_token %}
                        <div class="row">
                            <table class="table table-sm" >
                                <thead>
                                <tr>
                                    <th>Inmueble</th>
                                    <th>Matricula</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for inm in inmueble.all %}
                                    <tr>
                                        <td>{{inm.inmueble}}</td>
                                        <td>{{inm.matricula}}</td>
                                    <tr>
                                    {% endfor %}
                                <tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div> 
    
<script src="{% static 'registration/plugins/jquery/jquery.min.js' %}"></script>
  
    {% block scripts_local %}  
    {% endblock scripts_local %}

{% endblock content %}
