{% extends "base.html" %}
{% load static %}

{% block title %}rep-det{% endblock title %}

{% block content %}
    <style>.errorlist{color:red;}</style>
    <div class="card card-success">     
        <div class="card-header-gen">
            <h3 class="card-title"> 
                <a style="color:#ffffff"><b>Hoja de Ruta: {{ reparto.hoja_ruta }}</b></a>
            </h3>
        </div>
        <div class="btn-group">
        </div>
        <div class="card-body">
            <div class="tab-content p-0">
                <form action="" method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <h5>Fecha Reparto: &nbsp <h5>
                                <b>{{ reparto.fecha_reparto | date:'d/m/Y'}}</b>
                            </div>
                            <div class="row">
                                <h5>Escritura: &nbsp <h5>
                                {%if reparto.anio_escritura%}
                                    <b>{{ reparto.anio_escritura }}</b>
                                {%else%}
                                    ---
                                {% endif %}
                            </div>
                            <div class="row">    
                                <h5>Fecha Escritura: &nbsp <h5>
                                {% if reparto.fecha_escritura %}
                                    <b>{{ reparto.fecha_escritura | date:'d/m/Y'}}</b>
                                {% else %}
                                    ---
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <h5>Proyecto: &nbsp <h5>
                                <b>{{ reparto.proyecto }}</b>
                            </div>
                            <div class="row">
                                <h5>Acto Jurídico: &nbsp <h5>
                                {% for acto in reparto.acto_juridico.all %}
                                    <b>{{ acto }} {% if not forloop.last %} - {% endif %}</b>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="btn-group">
                        <p><a href="{% url 'deed:reparto-list' %}" class="btn btn-secondary" >regresar</a></p>
                        <p><a href="{% url 'deed:reparto-update' reparto.id %}" class="btn btn-warning" >actualizar</a></p>
                        <p><a href="{% url 'deed:reparto-inmueble-edit' reparto.id %}" class="btn btn-warning" >inmuebles</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <div class="card card-success">     
        <div class="card-header-gen">
            <h3 class="card-title"> 
                <a style="color:#ffffff"><b>Inmuebles relacionados</b></a>
            </h3>
        </div>
        <div class="btn-group">
        </div>
        <div class="card-body">
            <div class="tab-content p-0">
                <form action="" method="post">{% csrf_token %}
                    <div class="row">
                        <table class="display" style="width:50%">
                            <thead>
                            <tr>
                                <th>Inmueble</th>
                                <th>Matricula</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for inm in inmueble.all %}
                                <tr>
                                    <td>{{inm.inmueble}}</td>
                                    <td>{{inm.matricula}}</td>
                                <tr>
                                {% endfor %}
                            <tbody>
                        </table>
                    </div>
                    <hr>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'registration/plugins/jquery/jquery.min.js' %}"></script>
   
    {% block scripts_local %}  
    {% endblock scripts_local %}

{% endblock content %}
