{% extends "base.html" %}

{% load static %}

{% block title %}ListaReparto{% endblock title %}

{% block content %}

<!-- table -->
<link rel="stylesheet" href="{% static 'table/css/jquery.dataTables.min.css' %}">

<div class="card card-info">
    <div class="card-header-gen">
        <h3 class="card-title"> 
            <a style="color:#ffffff"><b>Proyectos</b></a>
        </h3>
    </div>
    <div class="card-body">
        <table id="prolist" class="display" style="width:100%">
            <thead>
            <tr>
                <th>Proyecto</th>
                <th>Cliente</th>
                <th>Tramitador</th>
                <th>Acción  </th>
            </tr>
            </thead>
            <tbody>
            {% for proyecto in proyecto_list %}
                <tr>
                    <td>{{ proyecto.nombre_proyecto | safe}}</td>
                    <td>{{ proyecto.cliente | safe }}</td>
                    <td>
                        {% for tramitador in proyecto.tramitador.all %}
                            {{ tramitador }}
                        {% endfor %}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a href="{% url 'project:proyecto-create' %}" class="btn btn-warning btn-sm" >actualizar</a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <li>No hay datos para mostrar.</li>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--
<script src="{% static 'registration/plugins/jquery/jquery.min.js' %}"></script>
 table -->
<script src="{% static 'table/js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'table/js/jquery.dataTables.min.js' %}"></script>

<script>
    $(document).ready(function() {
        $('#prolist').DataTable({
            "language": {
                "search": "Buscar:",
                "lengthMenu":     "Mostrar _MENU_ registros.",
                "info":           "Mostrando _START_ de _END_ de _TOTAL_ registros",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                }
            }
        });
    }); 
</script>
{% block scripts_local %}
{% endblock scripts_local %} 

{% endblock content %}